@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4B5563;
    color: rgb(0, 0, 0);
    font-size: 13px;
    line-height: 15px;
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div{
    transition: all 0.2s;
  }
  
tr{
    transition: all 0.2s;
    
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #223;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 78);
    border-radius: 3px;
  }
  
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }